*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    /* background-color: rgb(125, 90, 125); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    background: rgb(125,90,125);
    background: -moz-radial-gradient(center, rgb(179, 147, 179) 0%, rgb(125,90,125) 52%, rgb(179,147,179) 100%);
    background: -webkit-radial-gradient(center, rgb(179, 147, 179) 0%, rgb(125,90,125) 52%, rgb(179,147,179) 100%);
    background: radial-gradient(ellipse at center, rgb(179, 147, 179) 0%, rgb(125,90,125) 52%, rgb(179,147,179) 100%);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar__menu{
    position: fixed;
    background-color: rgb(10, 195, 165);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all .3s ease-in-out;
}
.container .navbar__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 195, 165);
    text-decoration: none;
    font-style: none;
    color: aliceblue;
    padding: 20px 0;
    transition: all .3s ease-in-out;
}
/* .hero{
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
} */
.container1{
    display: flex;
    flex-direction: column;
}
.navbar__menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
a, li{
    font-size: 24px;
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}
.footer{
    color: aliceblue;
    background-color: rgb(10, 195, 165);
    max-width: 2200px;
    height: 40vh;
    margin-top: 200px;
    padding: 0;
    line-height: 50px;
}
h1,h3{
    font-size: 45px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 10px;
}
p, h2, h4{
    font-size: 140%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 10px;
}
.container:active .overlay{
    opacity: .75;
    transform: translateY(0%);
}
/*below is the code that is activated on 'click' to display overlay.*/
.container1:hover .overlay{ 
    opacity: .75;
    transform:translateY(0%)
}
.container1:hover .overlay1{ 
    opacity: .75;
    transform:translateY(0%)
}
.container1:hover .overlay2{ 
    opacity: .75;
    transform:translateY(0%)
}
.container1:hover .overlay3{ 
    opacity: .75;
    transform:translateY(0%)
}
.container1:hover .overlay4{ 
    opacity: .75;
    transform:translateY(0%)
}
.container1:hover .overlay5{ 
    opacity: .75;
    transform:translateY(0%)
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    flex:0.9;
    margin: 10px;
    position: relative;
    transition: flex 0.8s ease-in;
    overflow: hidden;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin:0;
    opacity: 0;
}
.panel.active{
    border-radius: 50px;
    flex:5;
    opacity: .75;
    transform:translateY(0%)
}
.panel.active h3{
    opacity: 1;
}
.container1{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 90vw;
    transition: flex 5s ease-in;
    z-index: -5;
}
/* .container2{
    width: 100vw;
    margin-top: 290px;
    margin-left: 0;
    height: 35vh;
} */
.overlay{
background-color: white;
padding: 2rem;
position: absolute;
border-radius: 50px;
left:0;
right: 0;
bottom: 0;
height:80vh;
max-height:100%;
transform: translateY(101%);
transition: transform 3s ease-in;
z-index: -.2;
}
.overlay1{
    background-color: white;
    padding: 2rem;
    position: absolute;
    border-radius: 50px;
    left:0;
    right: 0;
    bottom: 0;
    height:80vh;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 3s ease-in;
    /* z-index: -.2; */
    }
.overlay2{
    background-color: white;
    padding: 2rem;
    position: absolute;
    border-radius: 50px;
    left:0;
    right: 0;
    bottom: 0;
    height:80vh;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 3s ease-in;
    z-index: -.2;
    }
.overlay3{
    background-color: white;
    padding: 2rem;
    position: absolute;
    border-radius: 50px;
    left:0;
    right: 0;
    bottom: 0;
    height:80vh;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 3s ease-in;
    z-index: -.2;
    }
.overlay4{
    background-color: white;
    padding: 2rem;
    position: absolute;
    border-radius: 50px;
    left:0;
    right: 0;
    bottom: 0;
    height:80vh;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 3s ease-in;
    z-index: -.2;
    }
.overlay5{
    background-color: white;
    padding: 2rem;
    position: absolute;
    border-radius: 50px;
    left:0;
    right: 0;
    bottom: 0;
    height:80vh;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 3s ease-in;
    z-index: -.2;
    }
    .navbar__menu.active{
        background-color: white;
        color: blueviolet;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    .navbar__menu.active a{
        color: rgb(10, 195, 165);
    }
    .navbar__menu .container{
        padding: 10px 0;
    }
    .navbar__menu a.active, .navbar__menu a:hover{
        color: blueviolet;
        font-weight: bolder;
    }
    @media screen and (min-width:0px) and (max-width:799px) {

        .container1{
            display: flex;
            flex-direction: column;
        }
        .panel{
            padding:40% 0%;
        }
        .navbar__menu{
            position:static;
            width: 150%;
            height: fit-content;
            background-color: rgb(10, 195, 165);
            top: 0;
            left: 0;
            right: 0;
            transition: all .3s ease-in-out;
        }
        .container .navbar__menu{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(10, 195, 165);
            text-decoration: none;
            font-style: none;
            color: aliceblue;
            padding: 20px 0;
            margin: 0px;
            transition: all 0.3s ease-in-out;
        }
        .navbar__menu ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
         }
        .navbar__menu.active{
            background-color: white;
            color: blueviolet;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }
        /* ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0;
        } */
        p{
            display: flex;
            flex-wrap: wrap;
        }
        .footer{
            display: flex;
            flex-wrap: wrap;
            margin-top: 350%;
            color: aliceblue;
            background-color: rgb(10, 195, 165);
            width: fit-content;
            height: fit-content;
            margin-left: 0px;
            padding: 0 10%;
            line-height: 50px;
        }
    }